.navbar a {
    font-size: 18px;
    font-weight: 500;
  }
  
  .navbar a:hover {
    color: #007bff; /* Change color on hover */
  }
  

  .footer a {
    color: #9D9B96;
    text-decoration: none;
}

.footer a:hover {
    color: #007bff; /* Change color on hover */
}

.footer h6 {
    font-weight: bold;
    color: #9D9B96;
}

.footer .btn-outline-dark {
    border-color: #9D9B96;
    color: #9D9B96;
}

.footer .btn-outline-dark:hover {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
}
